references/
simulations/koksal*
technical report/*.aux
technical report/*.bbl
technical report/*.blg
technical report/*.log
technical report/*.out
technical report/*.synctex.gz
technical report/*.bib.bak
technical report/*.bib.sav